= link_to 'Back to shuttles', shuttles_path, class: 'btn btn-success'
= link_to 'Add Booking', new_shuttle_booking_path, class: 'btn btn-info'
%h2 Bookings for #{@shuttle.name}


%ul.admin_container
  -0.upto 6 do |day|
    -date = @date + day
    %li
      =date.to_formatted_s :human
      - @shuttle.bookings.where(:depart_date => date).each do |booking|
        %ul.admin_row
          %li
            %strong Name:
            #{booking.first_last_name}
          %li
            %strong Passengers:
            #{booking.passengers}
          %li
            %strong Private shuttle?
            #{booking.private_shuttle ? 'Yes' : 'No'}
          %li
            %strong Phone #:
            #{booking.telephone_number.presence || 'N/A'}
          %li
            %strong From:
            #{booking.from.name}
          %li
            %strong To:
            #{booking.to.name}
          %li
            %strong Home pickup?
            #{booking.home_pickup ? 'Yes' : 'No'}
          %li
            %strong Home dropoff?
            #{booking.home_dropoff ? 'Yes' : 'No'}
          %li
            .block
              %strong Pickup Address:
            #{booking.home_address.presence || 'N/A'}
          %li
            .block
              %strong Zipcode
            #{booking.zipcode || 'N/A'}
          %li
            .block
              %strong Destination Address:
            #{booking.dest_address.presence || 'N/A'}
          %li
            .block
              %strong Destination Zipcode
            #{booking.dest_zipcode || 'N/A'}
      - @shuttle.bookings.where(:return_date => date).each do |booking|
        %ul.admin_row
          %li
            %strong Name:
            #{booking.first_last_name}
          %li
            %strong Passengers:
            #{booking.passengers}
          %li
            %strong Private shuttle?
            #{booking.private_shuttle ? 'Yes' : 'No'}
          %li
            %strong From:
            #{booking.to.name}
          %li
            %strong To:
            #{booking.from.name}
          %li
            %strong Home pickup?
            #{booking.home_pickup ? 'Yes' : 'No'}
          %li
            %strong Home dropoff?
            #{booking.home_dropoff ? 'Yes' : 'No'}
          %li
            %strong Phone #:
            #{booking.telephone_number.presence || 'N/A'}
          %li
            .block
              %strong Roundtrip Pick up Address:
            #{booking.round_trip_source_address.presence || 'N/A'}
          %li
            .block
              %strong Roundtrip Pick up Zipcode
            #{booking.round_trip_source_zipcode || 'N/A'}
          %li
            .block
              %strong Roundtrip Drop off Address:
            #{booking.round_trip_dest_address.presence || 'N/A'}
          %li
            .block
              %strong Roundtrip Drop off Zipcode
            #{booking.round_trip_dest_zipcode || 'N/A'}

=link_to "Previous week", date_shuttle_bookings_path(:date => @date - 7)
=link_to "Next week", date_shuttle_bookings_path(:date => @date + 7)

