%li
  %strong Pick up from #{@booking.from.name} to #{@booking.to.name}
%li
  %strong Address
  #{@booking.home_address.presence || 'N/A'}
%li
  %strong City
  #{@booking.pickup_city.presence || 'N/A'}
%li
  %strong Zipcode:
  #{@booking.zipcode.presence || 'N/A'}
%li
  %strong Drop off from #{@booking.from.name} to #{@booking.to.name}
%li
  %strong Address
  #{@booking.round_trip_source_address.presence || 'N/A'}
%li
  %strong City
  #{@booking.round_trip_source_city.presence || 'N/A'}
%li
  %strong Zipcode
  #{@booking.round_trip_source_zipcode.presence || 'N/A'}
%li
  %strong Pick up from #{@booking.to.name} to #{@booking.from.name}
%li
  %strong Address
  #{@booking.dest_address.presence || 'N/A'}
%li
  %strong City
  #{@booking.dest_city.presence || 'N/A'}
%li
  %strong Zipcode
  #{@booking.dest_zipcode.presence || 'N/A'}
%li
  %strong Drop off from #{@booking.to.name} to #{@booking.from.name}
%li
  %strong Address
  #{@booking.round_trip_dest_address.presence || 'N/A'}
%li
  %strong City
  #{@booking.round_trip_dest_city.presence || 'N/A'}
%li
  %strong Zipcode
  #{@booking.round_trip_dest_zipcode.presence || 'N/A'}