!!!!
%html
%body
  = image_tag attachments['logo.png'].url
  %h1 New Booking
  %h2 Customer information:
  %ul
    %li
      %strong Name:
      #{@booking.first_last_name}
    %li
      %strong Passengers:
      #{@booking.passengers}
    - if @booking.round_trip
      %li
        %strong Round trip amount (paid): $
        #{p '%.2f' % (@booking.amount.to_i/100.0)}
    - else
      %li
        %strong One way trip amount (paid): $
        #{p '%.2f' % (@booking.amount.to_i/100.0)}
    %li
      %strong Telephone number:
      #{@booking.telephone_number}
    %li
      %strong From:
      #{@booking.from.name}
    %li
      %strong To:
      #{@booking.to.name}
    %li
      %strong Depart date:
      #{@booking.depart_date}
    %li
      %strong Return date:
      #{@booking.return_date}
    %li
      %strong Private shuttle?
      #{@booking.private_shuttle ? 'Yes' : 'No'}
    %li
      %strong Home pickup?
      #{@booking.home_pickup ? 'Yes' : 'No'}
    %li
      %strong Home drop off?
      #{@booking.home_dropoff ? 'Yes' : 'No'}
    %br
    = render 'additions_fields'


