!!!!
%html
%body
  %h1 Dear #{@booking.first_last_name.presence}, please find your booking information below:
  %ul
    %li
      %strong Passengers:
      #{@booking.passengers}
    %li
      %strong From:
      #{@booking.from.name}
    %li
      %strong To:
      #{@booking.to.name}
    %li
      %strong Depart date:
      #{@booking.depart_date}
    %li
      %strong Return date:
      #{@booking.return_date}
    %li
      %strong Private shuttle?
      #{@booking.private_shuttle ? 'Yes' : 'No'}
    %li
      %strong Home pickup?
      #{@booking.home_pickup ? 'Yes' : 'No'}
    %li
      %strong Home drop off?
      #{@booking.home_dropoff ? 'Yes' : 'No'}
    %li
      %strong Home address:
      #{@booking.home_address.presence || 'N/A'}
    %li
      %strong Zipcode:
      #{@booking.zipcode.presence || 'N/A'}
    %p *Please remember to bring your own child seat if a child is going to be traveling.
    %p Thank you for booking with AGM Express. Please contact us at 702 327 9922 with any questions.
