!!!!
%html
%body
  = image_tag attachments['logo.png'].url
  %h1 Dear #{@booking.first_last_name.presence}, please find your booking information below:
  %ul
    %li
      %strong Passengers:
      #{@booking.passengers}
    - if @booking.round_trip
      %li
        %strong Round trip amount (paid): $
        #{p '%.2f' % (@booking.amount.to_i/100.0)}
    - else
      %li
        %strong One way trip amount (paid): $
        #{p '%.2f' % (@booking.amount.to_i/100.0)}
    %li
      %strong From:
      #{@booking.from.name}
    %li
      %strong To:
      #{@booking.to.name}
    %li
      %strong Depart date:
      #{@booking.depart_date}
    %li
      %strong Return date:
      #{@booking.return_date.presence || 'N/A'}
    %li
      %strong Private shuttle?
      #{@booking.private_shuttle ? 'Yes' : 'No'}

    %li
      %strong Home pickup?
      #{@booking.home_pickup ? 'Yes' : 'No'}
    %li
      %strong Home drop off?
      #{@booking.home_dropoff ? 'Yes' : 'No'}
    %br
    = render 'additions_fields'
    %p *Please remember to bring your own child seat if a child is going to be traveling.
    %p Thank you for booking with AGM Tours, Inc. Please contact us at 702 327 9922 with any questions.
