!!!!
%html
%body
  %h1 New Booking
  %h2 Customer information:
  %ul
    %li
      %strong Name:
      #{@booking.first_last_name}
    %li
      %strong Passengers:
      #{@booking.passengers}
    %li
      %strong Telephone number:
      #{@booking.telephone_number}
    %li
      %strong From:
      #{@booking.from.name}
    %li
      %strong To:
      #{@booking.to.name}
    %li
      %strong Depart date:
      #{@booking.depart_date}
    %li
      %strong Return date:
      #{@booking.return_date}
    %li
      %strong Private shuttle?
      #{@booking.private_shuttle ? 'Yes' : 'No'}
    %li
      %strong Home pickup?
      #{@booking.home_pickup ? 'Yes' : 'No'}
    %li
      %strong Home drop off?
      #{@booking.home_dropoff ? 'Yes' : 'No'}
    %li
      %strong Home pickup address
      #{@booking.home_address.presence || 'N/A'}
    %li
      %strong Pickup city
      #{@booking.pickup_city.presence || 'N/A'}
    %li
      %strong Zipcode:
      #{@booking.zipcode.presence || 'N/A'}
    = render "additional_fields"



