= form.text_field :name
%p
  Starting Date: #{form.text_field 'start_date'}
%label Days tour is available on:
- Tour.flag_mapping["day_bits"].each do |day, bit|
  = form.check_box day
= form.text_field :amount
= form.text_field :time
= form.text_field :location
= form.text_field :duration
= form.text_area :description, rows: 10
= form.text_field :highlights
