= form.text_field :name
%p
  Starting Date: #{form.text_field 'start_date'}
%label Days tour is available on:
- Tour.flag_mapping["day_bits"].each do |day, bit|
  = form.check_box day
= form.text_field :amount, label: 'Amount (in cents per Stripe)'
= form.text_field :time, label: 'Time: (0:00pm)'
= form.text_field :location
= form.text_field :duration, label: 'Duration (In hours)'
= form.text_area :description, rows: 10
= form.text_field :highlights, label: 'Highlights (Seperate with comma)'
