= link_to 'Add new tour', new_tour_path, class: 'btn btn-success'
= link_to 'Shuttles menu', shuttles_path, class: 'btn btn-info'
= link_to 'Logout', logout_path, class: 'btn btn-danger'
%h2 List of all tours available
- @tours.each do |tour|
  %ul
    %li
      = link_to tour.name, tour
    %li
      %strong Price: $
      = ' %.2f' % (tour.amount.to_i/100.0)
      %strong
        %li Days tour is available on:
    %li= tour.days
    = link_to 'Reservations', tour_reservations_path(tour)
    = link_to 'Edit', edit_tour_path(tour)
    = link_to "Delete tour",
      tour_path(tour),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this tour" }
