= stylesheet_link_tag 'localtours'
= javascript_include_tag "https://js.stripe.com/v2/"
= javascript_include_tag 'payment'
:javascript
  Stripe.setPublishableKey("#{ENV['STRIPE_PUBLISHABLE_KEY']}");
.container.main-heading
  .row
    %h2.padding-bottom
      = @tour.name
  .row
    .col-md-4.tour-images
      - if @tour.name == 'Hoover Dam Tour'
        = image_tag('hoover-dam.jpg', class: 'img-responsive')
      - if @tour.name == 'Las Vegas City Tour'
        = image_tag('city-tour.jpg', class: 'img-responsive')
      - if @tour.name == 'Red Rock Canyon Tour'
        = image_tag('red-rock.jpg')
      - if @tour.name == 'Valley of Fire Tour'
        = image_tag('valley-of-fire.jpg', class: 'img-responsive')
      - if @tour.name == 'Grand Canyon Tour'
        = image_tag('grand-canyon.jpg', class: 'img-responsive')
      - if @tour.name == 'Death Valley Tour'
        = image_tag('death-valley.jpg', class: 'img-responsive')
    .col-md-4.tour-images
      - if @tour.name == 'Hoover Dam Tour'
        = image_tag('hoover-dam2.jpg', class: 'img-responsive')
      - if @tour.name == 'Las Vegas City Tour'
        = image_tag('city-tour2.jpg', class: 'img-responsive')
      - if @tour.name == 'Red Rock Canyon Tour'
        = image_tag('red-rock2.jpg')
      - if @tour.name == 'Valley of Fire Tour'
        = image_tag('valley-of-fire2.jpg', class: 'img-responsive')
      - if @tour.name == 'Grand Canyon Tour'
        = image_tag('grand-canyon2.jpg', class: 'img-responsive')
      - if @tour.name == 'Death Valley Tour'
        = image_tag('death-valley2.jpg', class: 'img-responsive')
    .col-md-4.tour-images
      - if @tour.name == 'Hoover Dam Tour'
        = image_tag('hoover-dam3.jpg', class: 'img-responsive')
      - if @tour.name == 'Las Vegas City Tour'
        = image_tag('city-tour3.jpg', class: 'img-responsive')
      - if @tour.name == 'Red Rock Canyon Tour'
        = image_tag('red-rock3.jpg')
      - if @tour.name == 'Valley of Fire Tour'
        = image_tag('valley-of-fire3.jpg', class: 'img-responsive')
      - if @tour.name == 'Grand Canyon Tour'
        = image_tag('grand-canyon3.jpg', class: 'img-responsive')
      - if @tour.name == 'Death Valley Tour'
        = image_tag('death-valley3.jpg', class: 'img-responsive')
  .row.margin-top
    .col-md-8.reservations-left
      %h3.padding-bottom
        = @tour.name
      .tour-info
        %p.padding-bottom
          = @tour.description
        %h4 Information:
        %ul.padding-bottom
          %li
            Duration: #{@tour.duration}
        %h4 Departure point and time:
        %ul.padding-bottom
          %li
            #{@tour.location} at #{@tour.time}
        %h4 Amenities
        %ul.list-inline.padding-bottom
          %li
            = image_tag('wifi_icon.png', alt: 'Wifi', width: 52, height: 42)
            %span.mini-text
              Wifi
              %span
          %li
            = image_tag('water_icon.png', alt: 'Wifi', width: 40, height: 40)
            %span.mini-text Water
          %li
            = image_tag('snack_icon.png', alt: 'Wifi', width: 34, height: 36)
            %span.mini-text Snacks
        %h4 Tour highlights
        %ul.padding-bottom
          - highlights = @tour.highlights
          - highlights_a = highlights.split(/,/)
          - highlights = highlights_a.join(', ')
          - highlights_a.each do |hl|
            %li= hl
        %h4 Additional info
        %ul
          %li All tours are available with 5-11 passengers
          %li Pricing is the same for adults and children
          %li If traveling with a child, please bring your own car seat
        %h4 Other options
        %p Please call us at 702 327 9922 if you would like to customize your tour, including the tour time.
    .col-md-4.reservations-right
      %h3.padding-bottom Book this tour
      .pricing-notice
        %p Pricing is for both adults and children
      %h3.blue-heading
        $
        #{p '%.2f' % (@tour.amount.to_i/100.0)}
      = bootstrap_form_for([@tour, @reservation], html: { id: 'payment-form'}, remote: true) do |f|
        =render :partial => 'reservations/form', :locals => {:form => f}
        %span.payment-errors
        .form-group
          = label_tag :card_number, 'Credit card number:'
          = text_field_tag :card_number, nil, name: nil, class: 'form-control', data: {stripe: 'number'}
        .form-group
          = label_tag :security_code, 'Security code:'
          = text_field_tag :security_code, nil, name: nil, class: 'form-control', data: {stripe: 'cvc'}
        .form-group
          = label_tag :exp_date, 'Expiration:'
        .form-group
          = select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: {stripe: 'exp-month'})
          = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control', data: {stripe: 'exp-year'})
        .form-group
          %h4.text-center Terms & Conditions
          %p.text-center No refunds. All sales are final. You’re only guaranteed a seat with a valid reservation.
        .form-group.center
          = f.submit 'BOOK TOUR', class: 'button btn btn-primary'
