= stylesheet_link_tag 'index.css'
.container.container-bg.border-bottom
  %h2 Express Shuttle with Mercedes Sprinter
  .col-md-12.outer
    =image_tag(('express.jpg'), class: 'img-responsive')
    .bottomleft
      %p No need to worry, just sit back, relax and allow our professionals to escort you safely to your destination.
    %p.center-text Las Vegas, Hollywood, Glendale
    %p.topright We provide luxurious and comfortable express transportation to the following destinations:

  .row
    %h3.blue-heading
      %a{href: "/shuttles/1"} RESERVE SHUTTLE NOW
.container.container-bg.border-top.vip-tours
  %h2 Exclusive VIP Tour with Mercedes Sprinter
  %p Don’t see a tour you like? We offer tours of the most popular destinations in the Western United States. Please contact us for details.
  - @tours.each do |tour|
    .col-md-4
      .tour-inner-container
        - if tour.name == 'Hoover Dam Tour'
          = link_to(image_tag('hoover-dam.jpg', alt: 'Hoover Dam Tour'), tour)
        - if tour.name == 'Valley of Fire Tour'
          = link_to(image_tag('valley-of-fire.jpg', alt: 'Valley of Fire Tour'), tour)
        - if tour.name == 'Las Vegas City Tour'
          = link_to(image_tag('city-tour.jpg', alt: 'Las Vegas City Tour'), tour)
        - if tour.name == 'Death Valley Tour'
          = link_to(image_tag('death-valley.jpg', alt: 'Death Valley'), tour)
        - if tour.name == 'Red Rock Canyon Tour'
          = link_to(image_tag('red-rock.jpg', alt: 'Red Rock Canyon Tour'), tour)
        - if tour.name == 'Grand Canyon Tour'
          = link_to(image_tag('grand-canyon2.jpg', alt: 'Grand Canyon Tour'), tour)
        %h3= tour.name
        %h4
          $ #{' %.2f' % (tour.amount.to_i/100.0)}
        .blue-heading-small
          = link_to 'RESERVE SPOT', tour
