= stylesheet_link_tag 'index.css'
.container.container-bg.border-bottom
  %h2 Shuttle Transportation
  .row
    #shuttle-service-carousel.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#shuttle-service-carousel"}
        %li{"data-slide-to" => "1", "data-target" => "#shuttle-service-carousel"}
        %li{"data-slide-to" => "2", "data-target" => "#shuttle-service-carousel"}
      / Slider Content (Wrapper for slides )
      .carousel-inner
        .item.active
          = image_tag('express.jpg')
          .carousel-caption
            %h3 We provide luxurious and comfortable express transportation to the following destinations:
            %h4 Las Vegas, Hollywood, Glendale
            %h5 No need to worry, just sit back, relax and allow our professionals to escort you safely to your destination.
        .item
          = image_tag('express2.jpg')
          .carousel-caption
            %h3 We provide luxurious and comfortable express transportation to the following destinations:
            %h4 Las Vegas, Hollywood, Glendale
            %h5 No need to worry, just sit back, relax and allow our professionals to escort you safely to your destination.
        .item
          = image_tag('express3.jpg')
          .carousel-caption
            %h3 We provide luxurious and comfortable express transportation to the following destinations:
            %h4 Las Vegas, Hollywood, Glendale
            %h5 No need to worry, just sit back, relax and allow our professionals to escort you safely to your destination.
      / Controls
      %a.left.carousel-control{"data-slide" => "prev", href: "#shuttle-service-carousel"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", href: "#shuttle-service-carousel"}
        %span.glyphicon.glyphicon-chevron-right
  .row
    %h3.blue-heading
      %a{href: "/shuttles/1"} RESERVE SHUTTLE NOW
.container.container-bg.border-top.vip-tours
  %h2 VIP Tours
  %p Don’t see a tour you like? We offer tours of the most popular destinations in the Western United States. Please contact us for details.
  - @tours.each do |tour|
    .col-md-4
      .tour-inner-container
        - if tour.name == 'Hoover Dam Tour'
          = image_tag('hoover-dam.jpg')
        - if tour.name == 'Valley of Fire Tour'
          = image_tag('valley-of-fire.jpg')
        - if tour.name == 'Las Vegas City Tour'
          = image_tag('city-tour.jpg')
        - if tour.name == 'Death Valley Tour'
          = image_tag('death-valley.jpg')
        - if tour.name == 'Red Rock Canyon Tour'
          = image_tag('red-rock.jpg')
        - if tour.name == 'Grand Canyon Tour'
          = image_tag('grand-canyon.jpg')
        %h3= tour.name
        %h4
          $ #{' %.2f' % (tour.amount.to_i/100.0)}
        .blue-heading-small
          = link_to 'RESERVE SPOT', tour
