= form.text_field :date, id: 'datepicker'  #, options_from_collection_for_select(@tour_dates, :date, :human_date)
= form.select :passengers, options_for_select([*5..11])
= form.text_field :first_last_name, label: "Full name (required)"
= form.text_field :email_address, label: 'Email address (required)'
= form.text_field :telephone_number, label: 'Telephone number (required)'
= form.text_field :pickup_location, label: 'Pickup location (required)'



:javascript
  window.tour_dates = #{@tour_dates.to_json(:only => [:date, :available])}
  window.unbooked = '#{escape_javascript options_for_select([*5..11])}'

  var dateEnabled = #{@tour_dates.collect{|date| date.date.strftime("%Y-%m-%d")}}

  $(document).ready(function(){
    $("#datepicker").datepicker({
      beforeShowDay: function(date){
        var date_utc = new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),  date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());

        if ($.inArray($.datepicker.formatDate('yy-mm-dd', date_utc), dateEnabled) != -1)
        {
          return  true
        }else{
          return false
        }
      }
    })


  })
