= link_to 'Back to tours', tours_path, class: 'btn btn-success'
= link_to 'Add Reservation', new_tour_reservation_path, class: 'btn btn-info'

%h2 Reservations for #{@tour.name}

%ul.admin_container
  - @reservations.group_by(&:date).each do |day,reservations|
    %li
      =day.to_formatted_s :human
      %ul.admin_row
        -reservations.each do |reservation|
          %li
            %strong Tour:
            #{link_to @tour.name, tour_path(@tour)}
          %li
            %strong Passengers:
            #{reservation.passengers}
          %li
            %strong Name:
            #{reservation.first_last_name}
          %li
            %strong Number:
            #{reservation.telephone_number}
          %li
            %strong Hotel:
            #{reservation.hotel_name}
          %br

