!!!!
%html
%body
  %h1 New Tour Reservation
  %h2 Customer information:
  %ul
    %li
      %strong Tour name:
      #{@tour.name}
    %li
      %strong # of Passengers:
      #{@reservation.passengers}
    %li
      %strong Date:
      #{@reservation.date}
    %li
      %strong Telephone #:
      #{@reservation.telephone_number}
    %li
      %strong Pickup location:
      #{@reservation.pickup_location}

