!!!!
%html
%body
  %h1
    Dear #{@reservation.first_last_name}, please find your tour information below:
  %ul
    %li
      %strong Tour name:
      #{@tour.name}
    %li
      %strong Passengers:
      #{@reservation.passengers}
    %li
      %strong Amount paid: $
      #{p '%.2f' % (@tour.amount.to_i/100.0)}
    %li
      %strong Date:
      #{@reservation.date}
    %li
      %strong Pickup location:
      #{@reservation.pickup_location}
    %p *Please remember to bring your own child seat if a child is going to be traveling.
    %p Thank you for booking with AGM Tours, Inc. Please contact us at 702 327 9922 with any questions.
