!!!!
%html
%body
  %h1 New Tour Reservation
  %h2 Customer information:
  %ul
    %li
      Tour name: #{@tour.name}
    %li
      Number of Passengers: #{@reservation.passengers}
    %li
      Date: #{@reservation.date}
    %li
      Telephone number: #{@reservation.telephone_number}
    %li
      Hotel name: #{@reservation.hotel_name}

