!!!
%html
  %head
    %title Welcome to AGM shuttles Inc.
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{href: "http://fonts.googleapis.com/css?family=Arimo:400,700", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Didact+Gothic", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Just+Another+Hand|Dancing+Script", rel: "stylesheet", type: "text/css"}/
  %body

    .container-fluid
      .row
        .col-md-12
          = render 'layouts/messages'
          = yield
    / ! end of .container
