<!DOCTYPE html>
<html>
<head>
  <title>Welcome to AGM Tours, Inc.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="We offer Express Shuttle Service and VIP Tours in the United States.">
  <meta name="keywords" content="shuttle, tours, mercedes sprinter, VIP Tour, Las Vegas City Tour, Grand Canyon Tour, Hoover Dam Tour, Death Valley Tour, Red Rock Canyon Tour, Valley of Fire tour, Hollywood Shuttle, Glendale Shuttle, Las Vegas Shuttle ">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
</head>
<body>

<div class='jumbotron'>
    <div class='container'>
      <div class='row logo'>
        <div class='col-md-7'>
          <div id='jumbotron-logo'>
            <h1><%= link_to(image_tag('logo.png', alt: 'AGM Logo', class: 'img-responsive'), root_path) %></h1>
          </div>
        </div>
        <div class="col-md-4 float-right">
         <div class="btn-group navigation">
            <button class="btn btn-default btn-lg dropdown-toggle all-tours-list" type="button" data-toggle="dropdown">
              Navigation<span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role='menu'>
              <li><%= link_to 'Home', root_path %></li>
              <li><a href='/shuttles/1'>Express Shuttle</a></li>
              <% @tours.each do |tour| %>
                <li><%= link_to tour.name, tour %></li>
              <% end %>
            </ul>


          </div>
        <div id="translate">
          <%= link_to(image_tag("flag-icon-usa.png"), locale: 'en') %>
          <%= link_to(image_tag("flag-icon-armenia.png"), locale: 'am')%>
        </div>
        <div class="text-right" id="jumbotron-telephone">
          <span class="medium-text">Please</span>
          <span class="larger-text">call us</span>
          <span class="medium-text">for</span>
          <span class="larger-text">reservations</span>
          <h2 class="float-right">702 327 9922</h2>
        </div>
      </div>
      </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>
  <footer>
    <div class='container'>
      <div class='row'>
        <div class='col-md-8'>
          <div class='copyright'>
            <small>&copy; 2014 AGM Tours, Inc.</small>
            <small>USDOT: 2479956 MC: 858186</small>
            <strong><small>Bookings by phone: 702 327 9922</small></strong>
          </div>
        </div>

        <div class='col-md-4'>
          <div id='social-media'>
            <strong><small>Find us on:</small></strong>
              <%= link_to(image_tag("facebook_icon.png", width: 24, height: 24), "https://www.facebook.com/agmshuttlesinc") %>
              <%= link_to(image_tag("twitter_icon.png", width: 24, height: 24), "https://www.twitter.com/agmshuttlesinc") %>
              <%= link_to 'Admin', login_path, class: 'mini-text' %>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div> <!--! end of .container -->

</body>
</html>
