<!DOCTYPE html>
<html>
<head>
  <title>Welcome to AGM shuttles Inc.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Just+Another+Hand|Dancing+Script' rel='stylesheet' type='text/css'>
</head>
<body>
  <!--
<div class='jumbotron'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-7'>
          <div id='jumbotron-logo'>
            <h1><%= image_tag('logo.png', alt: 'AGM Logo') %></h1>
          </div>
        </div>

        <div class='col-md-5'>
          <div class='booking-heading'>Book online or call 702 327 9922</div>
          <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle all-shuttles-list" type="button" data-toggle="dropdown">
              Select a Service <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role='menu'>
              <li><a href='agmexpress.com'>Las Vegas, Glendale, Hollywood Express Shuttle</a></li>
              <li><a href='/shuttles/57/bookings/new'>Valley of Fire shuttle</a><li>
              <li><a href='/shuttles/56/bookings/new'>Las Vegas City shuttle</a></li>
              <li><a href='/shuttles/60/bookings/new'>Grand Canyon shuttle</a></li>
              <li><a href='/shuttles/23/bookings/new'>Red Rock shuttle</a></li>
              <li><a href='/shuttles/58/bookings/new'>Hoover Dam shuttle</a></li>
              <li><a href='/shuttles/59/bookings/new'>Death Valley shuttle</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>
  <footer>
    <div class='container'>
      <div class='row'>
        <div class='col-md-8'>
          <div class='copyright'>
            <small>&copy; 2014 AGM shuttles Inc</small>
            <small>USDOT: 2479956 MC: 858186</small>
            <strong><small>bookings by phone: 702 327 9922</small></strong>
          </div>
        </div>

        <div class='col-md-4'>
          <div id='social-media'>
            <strong><small>Find us on:</small></strong>
              <%= link_to(image_tag("facebook_icon.png", width: 24, height: 24), "https://www.facebook.com/agmshuttlesinc") %>
              <%= link_to(image_tag("twitter_icon.png", width: 24, height: 24), "https://www.twitter.com/agmshuttlesinc") %>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div> <!--! end of .container -->

</body>
</html>
